#regform{
    width: 25vw;
    display: grid;
    place-items: center;
    background-color:rgb(155, 150, 150);
    padding: 10px;
    margin: auto;
    border: 2px solid rgb(21, 17, 17);
    margin-top: 3%;
}
#amount{
width: 100%;
  padding: 10px 0;
  font-size: 21px;
  color: black;
  margin-bottom: 17px;
  border: none;
  border-bottom: 2px solid #ffffff;
  outline: none;
  background: transparent;
  text-decoration: none;
  padding: 10px;
background-color:white;
font-weight: 500;
}
  #description{
    width: 100%;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(10, 2, 2);
  margin-bottom: 17px;
  border: none;
  border-bottom: 3px solid whitesmoke;
  outline: none;
  background: transparent;
  text-decoration: none;
  background-color: rgb(251, 253, 255);
  padding: 10px;

  }
  #expensetype{

    width: 100%;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 500;
  color: rgb(10, 2, 2);
  margin-bottom: 17px;
  border: none;
  border-bottom: 3px solid whitesmoke;
  outline: none;
  background: transparent;
  text-decoration: none;
  background-color: rgb(251, 253, 255);
  padding: 10px;
  }

  #a1{
    margin-bottom: 20px;
    color: rgb(247, 247, 252);
  }
  #addexpensebtn{
    border: none;
    padding: 7px;
    background-color: white;
    font-size: 20px;
    border-radius: 7px;
  }