html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 76%;
  width: 22vw;
  padding: 10px;

  transform: translate(-50%, -50%);
  background: rgb(215, 8, 8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h5{
margin-bottom: 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 13px;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
  text-decoration: none;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .3s;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -22px;
  left: 0;
  color: #fefefe;
  font-size: 12px;
}

.login-box form #btnlogin {
  position: relative;
  display: inline-block;
  padding: 5px 7px;
  color: rgb(22, 9, 9);
  font-size: 18px;
  text-decoration: none;
  overflow: hidden;
  transition: 1.5s;
  margin-top: 2%;
  letter-spacing: 1px;
   background: rgb(228, 203, 204);
  border-radius: 7px;
  border: none;
  margin-left: 32%;

}



.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

#welcomeotoexpense{
    padding: 30px;
    margin-top: 10%;
    color: rgb(4, 4, 235);
}


#rtosignup{

  text-decoration: none;
  right: 5%;
  top: 5%;
  position: absolute;
  padding: 10px;
  background-color: rgba(6, 150, 6, 0.886);
  color: #fefefe;
  border-radius: 6px;
  
}
#forgotpassword{
  color: rgb(251, 6, 6);
  margin-top: 15px;

  float: right;
  margin-top: 17%;
  margin-right: 20%;
  font-size: large;
}
#signer{
  color: white;
}
.signer{
  margin-top: 10px;
}